form{
    width: 400px;
    background: #d9a0eb;
    margin: auto;
    margin-top: 50px;
    /* border radius es para que se rededondeen las esquinas */
    border-radius: 6px;
    color: darkgreen;
    /* padding es para darle margen exterior */
    /* El orden va margin, border, padding */
    padding: 30px;
    }
    form h1{
        font-size: 26px;
        margin-bottom: 25px;
        text-align: center;
    }
    input{
        width: 100%;
        background:#ffcfd6;
        padding: 10px;
        margin-bottom: 15px;
        font-family: sans-serif;
        font-size: 18px;
        color: darkgreen;
    }
    p{
        height: 40px;
        text-align: center;
        font-size: 18px;
    }
    a{
        color:darkred;
        text-decoration:none;
    }
    .boton{
        background: chocolate;
        color: black;
    }
    